<!DOCTYPE html>
<html lang="en">
{{template "common/head.html" .}}
<body class="lay-blog">
<div class="header">
    <div class="header-wrap">
        <h1 class="logo pull-left">
        {{template "common/indexsrc.html"}}
        </h1>
        <form class="layui-form blog-seach pull-left" action="">
            <div class="layui-form-item blog-sewrap">
                <div class="layui-input-block blog-sebox">
                    <i class="layui-icon layui-icon-search"></i>
                    <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
                </div>
            </div>
        </form>
    {{template "common/url.html" .}}
        <div class="mobile-nav pull-right" id="mobile-nav">
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more"></i>
            </a>
        </div>
    </div>
</div>>
{{template "common/phonelink.html"}}

<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <div class="item">
            {{if .Islogin}}
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：
                    <span>欢迎{{.User.Name}}登陆，</span>
                    <a href ="/logout" >退出登陆</a>
                </p>
            </h4>
            {{if eq .User.Role 0}}
                <h4 class="item-title">
                    <p>
                        <a href="/note/new"><i class="layui-icon layui-icon-add-1">&#xe654;</i><span>新增文章</span></a>
                    </p>
                </h4>
            {{end}}
        {{else}}
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的轻博客</span></p>
            </h4>
            <div class="item">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="login">登陆</button>
                            <a onclick="window.location.href='/addUser'" class="layui-btn">注册</a>
                        </div>
                    </div>
                </form>
                        {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "common/footer.html"}}
<script>
    //Demo
    layui.use(['form','jquery'],function(){
        var form = layui.form;
        $ = layui.jquery;
        //监听提交
        form.on('submit(login)', function(data){
            // layer.msg(JSON.stringify(data.field));
            $.post("/login",data.field,function(res){
                if(res.code == 0) {
                    layer.msg("登录成功");
                    if(res.action) {
                        setTimeout(function (){
                            window.location = res.action
                        },1000);
                    }

                }else{
                    layer.msg("登录失败"+res.msg)
                }
            },"json").error(function(){
                layer.msg("网络错误");
            });
            return false;
        });
    });
</script>
</body>
</html>