<div class="blog-nav pull-right">
    <ul class="layui-nav pull-left">
        <li class="layui-nav-item {{if equal .Path "/"}} layui-this{{end}}"><a href="/">首页</a></li>
        <li class="layui-nav-item{{if equal .Path "/message"}} layui-this{{end}}"><a href="/message">留言</a></li>
        <li class="layui-nav-item{{if equal .Path "/about"}} layui-this{{end}}"><a href="/about">关于</a></li>
    </ul>
    <a href="/login" class="personal pull-left">
        <i class="layui-icon layui-icon-username"></i>
        {{if .Islogin}}<span style="color: #FFFFFF">{{.User.Name}}</span>{{end}}
    </a>
</div>